.body {
  display: block;
  margin-block: 10px;
  padding: auto;
}

.border {
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.counter {
  text-align: center;
  font-family: math;
  font-size: 190px;
  margin: 0;
}

span {
  display: block;
  font-size: 2rem;
  margin: 60px;
  text-align: center;
  color: rgb(171, 162, 162);
}

.increment,
.decrement {
  color: white;
  border: none;
  border-radius: 20px;
  background-color: rgb(99, 110, 227);
  font-size: 28px;
  padding: 30px 20px;
  display: inline-block;
  margin-left: 10px;
}

.restart {
  color: white;
  border: none;
  border-radius: 20px;
  background-color: rgb(223, 98, 98);
  font-style: italic;
  font-size: 28px;
  padding: 30px 20px;
  display: inline-block;
  margin-left: 60px;
}
.restart:hover {
  background-color: gray;
  color: black;
}
